*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgb(7, 11, 0);
    line-height: 1.6;
}
#showcase{
    background-image:url( "jammu-and-kashmir.jpg.jpg");
    background-size: cover;
    background-position:center ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: center;


}
#showcase h1{
    font-size: 50px;
    line-height: 1.2;

}
#showcase p{
    font-size: 20px;

}
#showcase .Button{
    font-size: 18px;
    text-decoration: none;
    color: rgb(5, 1, 10);
    border: #d7741e 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#showcase .Button:hover{
    background:#926239 ;
    color: #a99a8e;
}
#section-a{
    padding: 20px;
    background: #d3af91;
    color:rgb(16, 14, 14);
    text-align: center;
}